header{
    background-color: #58b2eb;
    height: 80px;
    border: none;  
}
.golden{
    font-size: 40px;
    color: white;
   
}

.product, .suppliers{
    font-size: 25px; 
   padding-left: 55px;
   color: white;
   
}

.hello{
    
    font-size: 25px; 
    padding-left: 80px;
    color: white;
  
   
 }  
 .button{
    align-items: center;
     border-radius: 8px;
     font-size: 20px; 
     align-content: center;
     border: none;

  
 }
 .container {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
   
  }
  .float{
      float: right;
  }
  
 
  .container2:after {
    content: "";
    display: table;
    clear: both;
  }

   .number, .name, .price{
       width: 80%;
       height: 2pc;
       border-radius: 6px;
   }
   .stock, .supplier, .date{
    width: 40%; 
    height: 2pc;
    border-radius: 6px; 
   }
   .buttons{
       margin-left: 75%;
   }
   .reset{
border-style: solid;
border-color: blue;
color: blue;
border-radius: 4px;
height: 2pc;
border-width: 1px;
   }
   .cancel{
       border-style: solid;
       border-color: red;
       color: red;
       border-radius: 4px;
       height: 2pc;
       border-width: 1px;
   }
   .submit {
       border-style: solid;
       border-color: rgb(54, 178, 219);
       color:rgb(54, 178, 219) ;
       border-radius: 4px;
       height: 2pc;
       border-width: 1px;
   }


